<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PresentationFramework"
                          publicKeyToken="31bf3856ad364e35"
                          culture="en-us"/>
        <codeBase version="4.6.1073.0"
                  href="PresentationFramework.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PresentationCore"
                          publicKeyToken="31bf3856ad364e35"
                          culture="en-us"/>
        <codeBase version="4.6.1073.0"
                  href="PresentationCore.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase"
                          publicKeyToken="31bf3856ad364e35"
                          culture="en-us"/>
        <codeBase version="4.6.1073.0"
                  href="WindowsBase.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>